include _mixin.pug

doctype html
html
  head
    title JSgram - password change confirmation
    include _style.pug

  body
    //- header
    table.table
      tr
        td: a(href=`${baseUrl}/`): img.header__logo(src='https://is.gd/YJvPQR' alt='JSgram Logo')
        +user_icon(user, 'userpic--right')

    table.table
      tr: td.plug__content
        h3 Hi <span style="color: blue;">${username}</span>
        p We got a request to reset your JSgram password.
      tr: td.plug__content
        a(href=`${baseUrl}/forgot-password/${token}`) Reset Password
      tr: td.plug__content
        p If you ignore this message, your password will not be changed.
        p If you didn't request a password reset,
          a(href="mailto:jsgram.lv@gmail.com") let us know.

    //- footer
    table.table
      tr: td.footer__disclaimer--cnt
        h3: a(href=`${baseUrl}/`) JSgram from Lv-430
        p &copy; JSgram. Lv-430.NodeJS, 5 Yaroslava Pasternaka, Lviv, Ukraine 79015
