//-
  - baseUrl = 'https://jsgram-frontend-dev.herokuapp.com';
  -
    user = {
      username: 'Bethel_Schoen30',
      photoPath: 'https://s3.amazonaws.com/uifaces/faces/twitter/y2graphic/128.jpg',
      fullName: 'Dawson Kirlin',
      email: 'Queen_Bosco@hotmail.com',
    };
  -
    event = {
      login: 'cat',
      html_url: 'https://some.url',
      compare: 'https://some.url',
    };

include _mixin.pug

doctype html
html
  head
    title JSgram development team spinning out of control
    include _style.pug

  body
    //- header
    table.table
      tr
        td: a(href=`${baseUrl}/`): img.header__logo(src='https://is.gd/YJvPQR' alt='JSgram Logo')
        +user_icon(user, 'userpic--right')

    //- body
    table.table
      tr: td.content
        p Hi #{user.username},
        p.
          An intrepid and illustrious developer <a href=#{event.html_url}>#{event.login}</a> just pushed out another great update.
          Now it's going to go through code review into production.
        p.
          Fear not - #{event.login} is infamous for her/his code quality.
          There's no way commit in question would introduce even a subtlest possible bug.
        p.
          <a href="#{event.compare}">Take a look into commit diff.</a>
        p.
          Enjoy our next great feature.
        p.
          Sincerely,<br/>JSgram team
    div.separator--sml

    //- footer
    table.table
      tr: td.footer__disclaimer--cnt
        h3 <a href="#{baseUrl}/">JSgram from Lv-430</a>
        p &copy; JSgram. Lv-430.NodeJS, 5 Yaroslava Pasternaka, Lviv, Ukraine 79015
