include _mixin.pug

doctype html
html
  head
    title JSgram development team spinning out of control
    include _style.pug

  body
    //- header
    table.table
      tr
        td: a(href=`${baseUrl}/`): img.header__logo(src='https://is.gd/YJvPQR' alt='JSgram Logo')
        +user_icon(user, 'userpic--right')

    //- body
    table.table
      tr: td.content
        p Hi #{user.username},
        p.
          An intrepid and illustrious developer <a href=#{event.html_url}>#{event.login}</a> just pushed out another great update.
          Now it's going to go through code review into production.
        p.
          Fear not - #{event.login} is infamous for her/his code quality.
          There's no way commit in question would introduce even a subtlest possible bug.
        p.
          <a href="#{event.compare}">Take a look into commit diff.</a>
        p.
          Enjoy our next great feature.
        p.
          Sincerely,<br/>JSgram team
    div.separator--sml

    p.
      You are receiving this because you subscribed to JSgram news.
      a(href=`${event.compare}`) View commit on GitHub
      or
      a(href=`${baseUrl}/profile/${user.username}/edit/subscriptions`) unsubscribe from news.
